.Navbar-logo{
    position: fixed;
    justify-self: start;
    left: 2rem;
    cursor:pointer;
    color: white;
}
.NavbarItems{
    height:50px;
    width: 1500px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2 rem;
}
.Nav-menu{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    left:15rem;
    justify-content: start;
    margin-top:10px;
    margin-left:200px;
}
.nav-links{
    color:white;
    text-decoration: none;
    padding:0,5rem 1rem;
}



.nav-links:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0,2s ease-out;
}

.nav-links_login{
    color:white;
    text-decoration: none;
    padding:0,5rem 1rem;
    margin-left:400px;
}



.nav-links_login:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0,2s ease-out;
    margin-left:400px;
}

.fa-bars{
    color:#ffff
}
.menu-icon{
    display: none;
}